body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0; /* remove todasas margens padrão do navegador */
    padding: 20px; /* adiciona um preenchimento de 20px ao redor do conteúdo */
    background-color: #f4f4f4;
    display: flex; /* usa o modelo de layout flexbox para organizar os elementos filhos */
    justify-content: center; /* centraliza todos os itens horizontalmente */
    align-items: center; /* centraliza todos os itens verticalmente */
    min-height: 100vh; /* define a altura mínima do corpo para ocupar toda a altura da janela */
} 

.container {
    display: grid; /* usa o modelo de layout grid para organizar os elementos filhos */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* define o layout das colunas grid */
    gap: 20px; /* define o espaçamento entre os itens do grid */
    width: 80%; /* define a largura do container como 80% da largura da janela */
}

.gradient-example {
    padding: 20px; /* adiciona um preenchimento interno de 20px ao container */
    text-align: center;
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.linear-gradient { /* fundo com gradiente linear de 90 graus (horizontal) com duas cores */
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
}

.radial-gradient { /* fundo com gradiente radial com duas cores */
    background: radial-gradient(circle, #ff7e5f, #feb47b);
}

.conic-gradient { /* fundo com gradiente cônico (em forma de cone) começando de 0 graus */
    background: conic-gradient(from 0deg, #ff7e5f, #feb47b, #ff7e5f);
}

.diagonal-gradient { /* fundo com gradiente linear de 45 graus (diagonal) com duas cores */
    background: linear-gradient(45deg, #ff7e5f, #feb47b);
}

.text-gradient {
    /* fundo com gradiente linear de 90 graus (horizontal) com duas cores */
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    /* usa o gradiente de fundo para a cor do texto no navegador Chrome, Safari e Opera */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* usa o gradiente de fundo para a cor do texto no restante dos navegadores */
    background-clip: text;
    text-emphasis-color: transparent;
    /* define a cor de fundo como branco para navegadores que não suportam gradiente no texto */
    background-color: white;
}
