/*
    componentes de animações em CSS
        keyframes (quadros-chave)
        propriedades de animação

    definindo os keyframes
        keyframes definem os estados intermediários e finais de uma animação. eles especificam como o estilo de um elemento deve mudar em determinados pontos durante a animação.
*/

@keyframes mover-e-mudar-cor {
    from {
        background-color: red;
        transform: translateX(0);
    }
    to {
        background-color: yellow;
        transform: translateX(100px);
    }
}

.animacao {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: mover-e-mudar-cor; /* nome da animação definida nos keyframes */
    animation-duration: 2s; /* duração da animação */
    animation-timing-function: ease-in-out; /* função de temporização da animação (por exemplo, linear, ease, ease-in, ease-out) */
    animation-iteration-count: infinite; /* número de vezes que a animação deve se repetir*/
    animation-direction: alternate; /* direação da animação (normal, reverse, alternate, alternate-reverse) */
}