/*
    CSS (Cascading Style Sheets - Folhas em Estilo Cascata)

    ESTRUTURA BÁSICA DE UMA REGRA CSS

    selector {
        propriedade1: valor1;
        propriedade2: valor2;
    }
*/

body {
    background-color: #f4f4f4;
    font-family: 'Times New Roman', Times, serif;
    margin: 0; /* remove a margem padrão do <body> */
    padding: 20px; /* adiciona um preenchimento ao redor do conteúdo */
}

.container {
    background-color: #fff;
    padding: 20px; /* adiciona um preenchimento interno ao contêiner */
    margin: auto; /* centraiza o contêiner horizontalmente */
    width: 80%;/* define a largura do contêiner como 80% de largura */
    box-shadow: 0 0 10px rgba(0, 0, 0); /* adiciona uma sombra nas bordas */
}

h1 {
    color: #333;
    text-align: center;
}

p { 
    color: #666;
    line-height: 1.6;
    text-align: center;
}

.box {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    margin: 20px 0;
    border: 2px solid #0056b3; 
    border-radius: 5px; /* arredonda os cantos da borda */
    text-align: center;
}
