<!--
    layout é a forma como os elementos são organizados e dispostos em uma página ou tela.
    é como se você estivesse arrumando objetos em uma mesa de forma que tudo ficasse bonito e fácil de encontrar.
-->

<!DOCTYPE html>
<html lang="pt-BR">

<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
    <link rel="stylesheet" href="styles.css"> <!-- link para o arquivo CSS externo -->
</head>

<body>
    <div class="container">
        <div class="conteudo">Olá, mundo!</div>
    </div>
</body>
</html>