<!DOCTYPE html>
<html lang="pt-BR">

<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo de Box Sizing</title>
    <link rel="stylesheet" href="styles.css"> <!-- link para o arquivo CSS externo -->
</head>

<body>
    <div class="container">
        <h1>Exemplo de Box Sizing</h1>

        <div class="box content-box">
            <p>Box Sizing: Content-box</p>
        </div>

        <div class="box border-box">
            <p>Box Sizing: Border-box</p>
        </div>
    </div>
</body>
</html>