body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1, h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

ul {
    list-style-type: disc;
    padding-left: 40px;
    margin-bottom: 20px;
}

ul ul {
    list-style-type: circle;
}

ul ul ul {
    list-style-type: square;
}

ol {
    list-style-type: decimal;
    padding-left: 40px;
    margin-bottom: 20px;
}

ol ol {
    list-style-type: lower-alpha;
}

ol ol ol {
    list-style-type: lower-roman;
}

li {
    margin-bottom: 10px;
}